USE [AuroraDemo2]
GO

-- Kiểm tra xem bảng DiscountType đã tồn tại chưa
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DiscountType]') AND type in (N'U'))
BEGIN
    -- Nếu bảng không tồn tại, tạo nó
    CREATE TABLE [dbo].[DiscountType](
        [TypeCode] NVARCHAR(20) NOT NULL PRIMARY KEY
    )
    PRINT 'Đã tạo bảng DiscountType'
END
ELSE
BEGIN
    PRINT 'Bảng DiscountType đã tồn tại'
END

-- Xóa dữ liệu cũ (nếu cần) và thêm dữ liệu mới
BEGIN TRANSACTION;

-- Thêm dữ liệu vào bảng DiscountType (chỉ thêm nếu chưa tồn tại)
IF NOT EXISTS (SELECT 1 FROM [dbo].[DiscountType] WHERE [TypeCode] = 'AMOUNT')
    INSERT INTO [dbo].[DiscountType] ([TypeCode]) VALUES ('AMOUNT');

IF NOT EXISTS (SELECT 1 FROM [dbo].[DiscountType] WHERE [TypeCode] = 'PERCENT')
    INSERT INTO [dbo].[DiscountType] ([TypeCode]) VALUES ('PERCENT');

IF NOT EXISTS (SELECT 1 FROM [dbo].[DiscountType] WHERE [TypeCode] = 'amount')
    INSERT INTO [dbo].[DiscountType] ([TypeCode]) VALUES ('amount');

IF NOT EXISTS (SELECT 1 FROM [dbo].[DiscountType] WHERE [TypeCode] = 'percentage')
    INSERT INTO [dbo].[DiscountType] ([TypeCode]) VALUES ('percentage');

COMMIT TRANSACTION;
PRINT 'Đã thêm dữ liệu vào bảng DiscountType'
GO